// colors
$black: #111111;
$gray-light: #eeeeee;
$white: #fcfcfc;
// elements
$box-shadow: #333333;
$button-bg: #eff1d1;
$link-color: #fffca3;
$prev-color: #7d7d7d;
$code-color: #b90eb6;
// sections
$heading-bg: #444444;
$heading-bottom: #f4f085;
$heading-main: #f4f085;
$heading-sub: #dabd2f;
$stats-bg: #3d083c;
$stats-color: #deaddd;

/* FOUNDATION */

html {
  height: 100%;
}

body {
  background: repeating-linear-gradient(45deg, lighten($black, 2%) 0%, lighten($black, 2%) 10%, $black 0%, $black 50%) 0 / 15px 15px;
  background-color: $black;
  color: $gray-light;
  font-family: 'Lucida Console', monospace;
  font-size: 1rem;
  font-size-adjust: 0.5;
  font-weight: 300;
  height: 100%;
  line-height: 1.3;
  margin: 0;
  // overflow-y: hidden;
  padding: 0;
}

button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: $heading-bg;
  -webkit-user-select: none;
  align-items: center;
  background: $button-bg;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: lighten($black, 5%);
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
  justify-content: center;
  line-height: 1.5;
  margin: 0 6px 0 0;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    color 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:focus {
    filter: hue-rotate(-180deg) saturate(10);
    outline: none;
  }

  &:last-of-type {
    margin: 0;
  }

  &.half {
    flex: 0.5;
  }

  &.one {
    flex: 1;
  }

  &.one-and-a-half {
    flex: 1.5;
  }

  &.two {
    flex: 2;
  }

  &:hover {
    cursor: pointer;
    filter: hue-rotate(-180deg) saturate(5);
  }

  &:disabled {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
  }

  &.icon {
    background: none;
    border: none;
    color: $link-color;
    cursor: pointer;
    font-size: 24px;
    padding: 0 4px;
    text-shadow: 1px 1px 1px $black;

    &:hover {
      color: $white;
    }
  }
}

code {
  background-color: $button-bg;
  color: $code-color;
  display: inline-block;
  padding: 0 2px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

// HEADER
header {
  align-items: center;
  background-color: $heading-bg;
  border-bottom: 5px solid darken($heading-bottom, 5%);
  box-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .menu-left {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 70px;

    #nav-overlay {
      align-items: unset;
      background-color: transparent;
      display: none;
      height: 100%;
      justify-content: left;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;

      #nav-content {
        animation: SlideRight 200ms;
        background-color: $gray-light;
        border-radius: 0;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        margin-top: 51px;
        max-height: calc(100% - 41px);
        max-width: 500px;
        overflow-y: auto;
        padding: 0px;
        position: relative;
        width: 100%;

        a {
          color: $black;
          text-decoration: none;
        }

        .container {
          align-items: normal;
          padding: 0;

          .nav-header {
            font-size: 20px;
            padding-bottom: 18px;
            padding-left: 18px;
            padding-top: 18px;
          }

          .nav-list {
            a {
              align-items: center;
              background-color: transparent;
              display: flex;
              font-size: 16px;
              font-weight: bold;
              height: 30px;
              justify-content: left;
              padding: 4px 0 4px 18px;

              &:hover {
                background-color: $heading-main;
              }
            }
          }
        }

        #button-nav-close {
          font-size: 20px;
          height: 24px;
          position: absolute;
          right: 16px;
          top: 16px;
          width: 24px;
        }

        .nav-footer {
          display: flex;
        }

        #footer-neb-host {
          background: darken($stats-bg, 10%);
          border-top: 2px solid darken($stats-bg, 20%);
          bottom: 0;
          color: $white;
          font-family: 'Consolas', sans-serif;
          font-size: 12px;
          font-weight: 500;
          height: 18px;
          left: 0;
          letter-spacing: initial;
          margin-top: 20px;
          padding: 10px 18px;
          position: absolute;
          right: 0;
          text-align: left;
          z-index: 2;

          a {
            color: $link-color;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }

    #nav-overlay.show {
      display: flex;
    }
  }

  .title {
    color: $heading-main;
    font-size: 0.7rem;
    font-weight: normal;
    line-height: 170%;
    letter-spacing: 0.1em;
    pointer-events: none;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(0px);
  }

  .menu-right {
    width: 70px;

    #button-settings {
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
    }
  }
}
@media (min-width: 415px) {
  header {
    .menu-left {
      #nav-overlay {
        #nav-content {
          width: 325px;
        }
      }
    }
  }
}

@media (min-width: 535px) {
  header {
    .title {
      transform: translateY(0px);
    }
  }
}

@media (min-width: 768px) {
  header {
    .title {
      font-size: 1.1rem;
      letter-spacing: 0.01em;
      transform: translateY(5px);
    }
  }
}

#output {
  font-size: 0.9rem;
  height: 100%;
  margin-bottom: 105px;
  margin-top: 55px;
  padding: 10px;

  a {
    color: darken($link-color, 5%);
    text-decoration: none;
    text-shadow: unset;
    transition: all 0.3s ease-in-out;

    &.glow-repeat {
      animation: glow-pulse 1.5s ease-in-out infinite alternate;
    }

    &.glow-up {
      animation: glow-up 0.5s ease-in-out infinite;
    }

    &.glow-transition {
      &:hover {
        color: $stats-color;
        text-shadow:
          0 0 5px $stats-bg,
          0 0 10px $stats-color,
          0 0 40px $stats-color;
      }
    }
  }

  @keyframes glow-pulse {
    100% {
      text-shadow:
        0 0 4px $white,
        0 0 11px $white,
        0 0 19px $white,
        0 0 40px $white,
        0 0 80px darken($white, 5%),
        0 0 90px darken($white, 5%),
        0 0 100px darken($white, 5%),
        0 0 150px darken($white, 5%);
    }

    0% {
      text-shadow:
        0 0 4px $white,
        0 0 10px $white,
        0 0 18px $white,
        0 0 38px $white,
        0 0 73px darken($white, 5%),
        0 0 80px darken($white, 5%),
        0 0 94px darken($white, 5%),
        0 0 140px darken($white, 5%);
    }
  }

  @keyframes glow-up {
    0% {
      text-shadow: 0 0 1px $white;
    }

    100% {
      text-shadow: 0 0 10px $white;
    }
  }
}

@media screen and (prefers-reduced-motion) {
  #output {
    a {
      animation: none;
    }
  }
}

@media (min-width: 768px) {
  #output {
    font-size: 1rem;
  }
}

#stats,
#location {
  padding: 2px 0 3px;
  position: fixed;
  width: 100%;
  z-index: 0;
}

#stats {
  background: $stats-bg;
  bottom: 145px;
  clear: left;
  color: $stats-color;
  height: 18px;
  left: 0;
}

#location {
  background: #2e0a2e;
  bottom: 122px;
  height: 18px;
}

#avatar {
  bottom: 44px;
  color: $white;
  display: none;
  font-family: 'Lucida Console', monospace;
  font-size: 10px;
  height: 145px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  white-space: break-spaces;
  width: 55px;
  z-index: 1;
}

// mobile
#keyboard {
  background-color: $black;
  bottom: 0;
  display: block;
  margin: 0 8px;
  position: fixed;
  user-select: none;
  width: 100%;

  .row {
    display: flex;
    margin: 0 auto 8px;
    touch-action: manipulation;
    width: 100%;
  }
}

// desktop
#cli {
  background: #222222;
  border-top: 2px solid $black;
  bottom: 0;
  color: $gray-light;
  display: none;
  left: 0;
  padding: 5px 0;
  position: fixed;
  width: 100%;

  label {
    float: left;
    padding-left: 8px;
    position: relative;
    top: 5px;
  }

  input {
    background: #222222;
    border: 0;
    color: $gray-light;
    float: left;
    font-family: 'Lucida Console', 'Consolas', monospace;
    font-size: 0.9rem;
    max-width: 100%;
    outline: none;
    padding: 5px;
    position: relative;
    top: 2px;
  }
}

@media (min-width: 768px) {
  #keyboard {
    display: none;
  }

  #cli {
    display: block;
  }

  #stats {
    bottom: 62px;
  }

  #location {
    bottom: 39px;
  }

  #avatar {
    display: block;
  }
}

.noun {
  color: #90ee90;
}

.keyword {
  color: #eecd90;

  &.false {
    color: #dd4a4a;
  }

  &.true {
    color: #32ce32;
  }
}

.command-previous {
  color: $prev-color;
}
