section#game {
  #output {
    background-color: rgba(28, 142, 32, 0.247);
    border: 2px solid rgb(17, 91, 20);
  }

  #interface {
    // border-left: 2px solid #0000ff;
    // border-right: 2px solid #ab7dff;
    // margin: 0 4px;

    #keyboard {
      // background-color: rgb(172, 34, 34);
      // border: 2px solid #9a1313;
    }

    #cli {
      border-bottom: 1px dashed #ffffff;
    }
  }
}
