// colors
$black: #111111;
$gray-light: #eeeeee;
$white: #fcfcfc;
// elements
$box-shadow: #333333;
$button-bg: #eff1d1;
$link-color: #fffca3;
$prev-color: #7d7d7d;
// sections
$heading-bg: #444444;
$heading-bottom: #f4f085;
$heading-main: #f4f085;
$heading-sub: #dabd2f;
$stats-bg: #3d083c;
$stats-color: #deaddd;

html {
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
}

body {
  background: repeating-linear-gradient(45deg, lighten($black, 2%) 0%, lighten($black, 2%) 10%, $black 0%, $black 50%) 0 / 15px 15px;
  background-color: $black;
  color: $gray-light;
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: 'Lucida Console', monospace;
  font-size: 16px;
}

button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: $button-bg;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  font-family: 'Lucida Console', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 5px;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    color 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:focus {
    filter: hue-rotate(-180deg) saturate(10);
  }

  &:hover {
    cursor: pointer;
    filter: hue-rotate(-180deg) saturate(5);
  }
}

#heading {
  background: $heading-bg;
  border-bottom: 1px solid $heading-bottom;
  box-shadow: -3px 1px 15px $box-shadow;
  height: 20px;
  margin-bottom: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;

  .main {
    color: $heading-main;
    font-size: 1.3em;
  }

  .sub {
    color: $heading-sub;
    font-size: 1.3em;
  }
}

#output {
  height: 100%;
  margin-bottom: 200px;
  margin-top: 40px;
  overflow-y: scroll;
  padding: 10px;

  a {
    color: darken($link-color, 5%);
    text-decoration: none;
    text-shadow: unset;
    transition: all 0.2s ease;

    &.glow-repeat {
      animation: glow-pulse 1.5s ease-in-out infinite alternate;
    }

    &.glow-up {
      animation: glow-up 0.5s ease-in-out infinite;
    }

    &.glow-transition {
      &:hover {
        color: $stats-color;
        text-shadow:
          0 0 5px $stats-bg,
          0 0 10px $stats-color,
          0 0 40px $stats-color;
      }
    }
  }

  @keyframes glow-pulse {
    100% {
      text-shadow:
        0 0 4px $white,
        0 0 11px $white,
        0 0 19px $white,
        0 0 40px $white,
        0 0 80px darken($white, 5%),
        0 0 90px darken($white, 5%),
        0 0 100px darken($white, 5%),
        0 0 150px darken($white, 5%);
    }

    0% {
      text-shadow:
        0 0 4px $white,
        0 0 10px $white,
        0 0 18px $white,
        0 0 38px $white,
        0 0 73px darken($white, 5%),
        0 0 80px darken($white, 5%),
        0 0 94px darken($white, 5%),
        0 0 140px darken($white, 5%);
    }
  }

  @keyframes glow-up {
    0% {
      text-shadow: 0 0 1px $white;
    }

    100% {
      text-shadow: 0 0 10px $white;
    }
  }
}

@media screen and (prefers-reduced-motion) {
  #output {
    a {
      animation: none;
    }
  }
}

#stats,
#location {
  height: 20px;
  padding: 2px 0 6px 5px;
  position: fixed;
  width: 100%;
  z-index: 0;
}

#stats {
  background: $stats-bg;
  bottom: 78px;
  clear: left;
  color: $stats-color;
  left: 0;
}

#location {
  background: #2e0a2e;
  bottom: 52px;
  height: 17px;
  overflow: scroll;
}

#avatar {
  bottom: 44px;
  color: $white;
  font-family: 'Lucida Console', monospace;
  font-size: 10px;
  height: 145px;
  width: 55px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  white-space: break-spaces;
  z-index: 1;
}

// mobile
#controller {
  background: #555555cc;
  bottom: 0;
  clear: left;
  display: block;
  height: 35px;
  left: 0;
  padding: 5px 5px 10px;
  position: fixed;
  width: 100%;

  #directions,
  #commands {
    height: 38px;
  }

  #directions {
    display: inline-block;
    position: relative;
    width: 165px;
  }

  #commands {
    background: #999999cc;
    display: inline-block;
    overflow-x: scroll;
    position: absolute;
    white-space: nowrap;
    width: calc(100% - 175px);
  }
}

// desktop
#keyboard {
  background: #222222;
  border-top: 2px solid $black;
  bottom: 0;
  color: $gray-light;
  display: none;
  height: 34px;
  left: 0;
  padding: 5px 0;
  position: fixed;
  width: 100%;

  label {
    float: left;
    padding-left: 8px;
    position: relative;
    top: 5px;
  }

  input {
    background: #222222;
    border: 0;
    color: $gray-light;
    float: left;
    max-width: 100%;
    outline: none;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  #avatar {
    display: none;
  }
}

@media (min-width: 426px) {
  body,
  input {
    font-size: 20px;
  }

  #controller {
    display: none;
  }

  #keyboard {
    display: block;
  }

  #stats {
    bottom: 80px;
  }

  #location {
    bottom: 46px;
    height: 24px;
  }
}

.noun {
  color: #90ee90;
}

.keyword {
  color: #eecd90;
}

.command-previous {
  color: $prev-color;
}
