.animate-body-flash {
  background: repeating-linear-gradient(
      45deg,
      var(--anim-yellow1) 0%,
      var(--anim-yellow1) 10%,
      var(--anim-yellow2) 0%,
      var(--anim-yellow2) 50%
    )
    0/15px 15px;
}
.animate-output-shake {
  animation: tilt-shaking 0.2s infinite;
}
.animate-output-move-shake {
  animation: tilt-n-move-shaking 0.2s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  75% {
    transform: translate(-1px, 1px) rotate(-0.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
