html {
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
}
body {
  background: #111;
  color: #eee;
  margin: 0;
  padding: 0;
}
body,
input {
  font-family: Lucida Console, monospace;
  font-size: 16px;
}
button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: rgb(239, 241, 209);
  border: 1px solid transparent;
  border-radius: .25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#heading {
  background: #333;
  border-bottom: 1px solid #333;
  box-shadow: -3px 1px 15px #333;
  height: 18px;
  margin-bottom: 0px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
#heading .main {
  color: #f4f085;
  font-size: 1.3em;
}
#heading .sub {
  color: #dabd2f;
  font-size: 1.3em;
}

#output {
  height: 100%;
  margin-bottom: 200px;
  margin-top: 40px;
  overflow-y: scroll;
  padding: 10px;
}
#output a {
  color: #ece759;
}

#controller {
  background: #333333cc;
  bottom: 0;
  clear: left;
  display: block;
  left: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
#controller table {
  float: left;
}
#keyboard {
  background: #222;
  border-top: 2px solid #000;
  bottom: 0;
  color: #eee;
  display: none;
  height: 34px;
  left: 0;
  padding: 5px 0;
  position: fixed;
  width: 100%;
}
#keyboard label {
  float: left;
  padding-left: 8px;
  position: relative;
  top: 5px;
}
#keyboard input {
  background: #222;
  border: 0;
  color: #eee;
  float: left;
  max-width: 100%;
  outline: none;
  padding: 5px;
}

#stats {
  background: #3d083c;
  clear: left;
  color: #deaddd;
  bottom: 163px;
  height: 20px;
  left: 0;
  padding: 2px 0 6px 5px;
  position: fixed;
  width: 100%;
}
#location {
  background: #2e0a2e;
  bottom: 143px;
  height: 17px;
  overflow: scroll;
  padding: 5px;
  position: fixed;
  width: 100%;
}

@media (min-width: 426px) {
  body,
  input {
    font-size: 20px;
  }
  #controller {
    display: none;
  }
  #keyboard {
    display: block;
  }
  #stats {
    bottom: 81px;
  }
  #location {
    bottom: 46px;
    height: 24px;
  }
}

.noun {
  color: lightgreen;
}
.keyword {
  color: #eecd90;
}
.command-previous {
  color: #666;
}
